{% extends 'base.html.twig' %}

{% block body %}

    <h1> {{ task }} un staging </h1>

    <legend class="mb-5"></legend>

    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

    <div class="row">
        <div class="col-6"> {{ form_row(form.name) }} </div>
        <div class="col-3"> {{ form_row(form.nasId) }} </div>
        <div class="col-3"> {{ form_row(form.license_nasId) }} </div>
    </div>

    <div class="divider"></div>
    <h2>Contact</h2>
    <div class="row">
        <div class="col-3"> {{ form_row(form.contact_name) }} </div>
        <div class="col-3"> {{ form_row(form.contact_phone) }} </div>
    </div>
    <div class="row">
        <div class="col-3"> {{ form_row(form.contact_zipcode) }} </div>
        <div class="col-3"> {{ form_row(form.contact_city) }} </div>
        <div class="col-6"> {{ form_row(form.contact_address) }} </div>
    </div>

    <div class="divider"></div>
    <div class="row">
        <div class="col-3"> {{ form_row(form.delivery_date) }} </div>
        <div class="col-3"> {{ form_row(form.staging_type) }} </div>
        <div class="col-3"> {{ form_row(form.hoist_standard) }} </div>
        <div id="standard_file_upload" class="col-3">
            <div>{{ form_row(form.standard_file_upload) }} </div>
            <div id="standard_file_icon" class="hidden">
                <i id="standard_file_clear" class="clear-button fas fa-window-close"></i>
                <i class="fas fa-file-alt fa-2x"></i>
                <span id="standard_file_name"></span>
            </div>
            {% if staging.standardFilePath %}
            <div id="standard_file_path">
                <i class="fas fa-file-alt fa-2x"></i>
                <span>{{ staging.standardFilePath }}</span>
            </div>
            {% endif %}
        </div>
    </div>

    {# "TV" required #}
    <div class="staging-block" data-requirements='["1"]' data-exceptions='[]'>
        <div class="divider"></div>
        <h2>TV</h2>
        <div class="row">
            <div class="col-3"> {{ form_row(form.streamer) }} </div>
            <div class="col-3"> {{ form_row(form.vod) }} </div>
            <div class="col-3"> {{ form_row(form.tv_brand) }} </div>
            <div class="col-12"> {{ form_row(form.tv_channel_plan) }} </div>
            <div class="col-12"> {{ form_row(form.room_list) }} </div>
            <div class="col-3"> {{ form_row(form.gui_type) }} </div>
            <div class="col-3"> {{ form_row(form.head_brand) }} </div>
            <div class="col-3"> {{ form_row(form.controller_brand) }} </div>
        </div>
    </div>

    {# "Radio" required #}
    <div class="staging-block" data-requirements='["6"]' data-exceptions='[]'>
        <div class="divider"></div>
        <h2>Radio</h2>
        <div class="row">
            <div class="col-12"> {{ form_row(form.radio_channel_plan) }} </div>
        </div>
    </div>
    
    {# "Wifi" required #}
    <div class="staging-block" data-requirements='["2"]' data-exceptions='[]'>
        <div class="divider"></div>
        <h2>Wifi</h2>
        <p>N'oubliez pas de créer la rate card !</p>
    </div>
    
    {# "Wifi" and "TV" required #}
    <div class="staging-block" data-requirements='["1","2"]' data-exceptions='[]'>
        <div class="divider"></div>
        <h2>Wifi & TV</h2>
        <div class="row">
            <div class="col-3"> {{ form_row(form.tv_on_wifi) }} </div>
        </div>
    </div>
    
    {# "Wifi" and not "Chromecast" required #}
    <div class="staging-block" data-requirements='["2"]' data-exceptions='["3"]'>
        <div class="divider"></div>
        <h2>Wifi & Chromecast</h2>
        <div class="row">
            <div class="col-3"> {{ form_row(form.vlan_wifi) }} </div>
            <div class="col-3"> {{ form_row(form.guest_ip) }} </div>
            <div class="col-3"> {{ form_row(form.ssid_vlan) }} </div>
            <div class="col-3"> {{ form_row(form.ssid_wifi) }} </div>
        </div>
    </div>
    
    {# "Lan" required #}
    <div class="staging-block" data-requirements='["4"]' data-exceptions='[]'>
        <div class="divider"></div>
        <h2>Lan</h2>
        <p>Fournir (via fichier texte ou sheet) tous les services, plan d\'adressage, VLAN, DHCP, qui doivent être configurés :</p>
        <div class="row">
            <div id="lan_file_upload" class="col-3">
                <div>{{ form_row(form.lan_file_upload) }} </div>
                <span id="lan_file_icon" class="hidden">
                    <i id="lan_file_clear" class="clear-button fas fa-window-close"></i>
                    <i class="fas fa-file-alt fa-2x"></i>
                    <span id="lan_file_name"></span>
                </span>
                {% if staging.lanFilePath %}Le fichier précédent sera remplacé !{% endif %}
            {% if staging.lanFilePath %}
                <div id="lan_file_path">
                    <i class="fas fa-file-alt fa-2x"></i>
                    <span>{{ staging.lanFilePath }}</span>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
    
    {# "Switch" required #}
    <div class="staging-block" data-requirements='["5"]' data-exceptions='[]'>
        <div class="divider"></div>
        <h2>Switch</h2>
        <div class="row">
            <div class="col-3"> {{ form_row(form.switch_quantity) }} </div>
            <div class="col-3"> {{ form_row(form.trader) }} </div>
        </div>
    </div>

    <div class="divider"></div>

    {{ form_row(form.description) }}

    <button type="submit" class="btn btn-primary offset-5 col-2 mb-4">{{ task }}</button>

    {{ form_end(form) }}

    {# $hoist_standard === false : "fournir standard à utiliser" #}

{% endblock %}