<!DOCTYPE html>
<html xml:lang="fr" lang="fr">
<head>
    <meta charset="utf8mb4"/>

    {#<meta http-equiv="X-UA-Compatible" content="IE=edge">#}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {# Bootstrap v4.0.0 #}
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    {# Pdf Style #}
    <link rel="stylesheet" type="text/css"
          href="{{ asset('css/pdf-style.css') }}">

    <title>Staging</title>

</head>
<body>
    <h2> Fiche de préparation de staging </h2>
    <legend class="mb-4"></legend>
    <div class="row">
        <div class="col-6"> 
            <p><strong>Nom</strong></p>
            <p>{{staging.name}}</p>
        </div>
        <div class="col-3"> 
            <p><strong>NASID</strong></p>
            <p>{{staging.nasId}}</p>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div class="col-3"> 
            <p><strong>Nom du contact</strong></p>
            <p>{{staging.contactName ?? "non renseigné"}}</p>
        </div>
        <div class="col-3"> 
            <p><strong>N° de tél du contact</strong></p>
            <p>{{staging.contactPhone ?? "non renseigné"}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-3"> 
            <p><strong>Zipcode du contact</strong></p>
            <p>{{staging.contactZipcode ?? "non renseigné"}}</p>
        </div>
        <div class="col-3"> 
            <p><strong>Ville du contact</strong></p>
            <p>{{staging.contactCity ?? "non renseigné"}}</p>
        </div>
        <div class="col-6"> 
            <p><strong>Addresse du contact</strong></p>
            <p>{{staging.contactAddress ?? "non renseigné"}}</p>
        </div>
    </div>
    <div class="divider"></div>
    <div class="row">
        <div class="col-3"> 
            <p><strong>Date de livraison</strong></p>
            <p>{{staging.deliveryDate ? staging.deliveryDate|date("d/m/Y") : "non renseigné"}}</p>
        </div>
        <div class="col-3"> 
            <p><strong>Standards Hoist</strong></p>
            <p>{{staging.hoistStandard ? "Respectés" : "Non respectés"}}</p>
        </div>
        <div class="col-3"> 
            <p><strong>Type de Staging</strong></p>
            <p>{% for type in staging.stagingType %}
            {{type == 1 ? "TV" : type == 2 ? "Wifi" : type == 3 ? "Chromcast" : type == 4 ? "Lan" : type == 5 ? "Switch" :type == 6 ? "Radio" : ""}}{{loop.last ? "" : ","}}{% endfor %}</p>
        </div>
    </div>

    <p>{{staging.description}}</p>
    <div class="divider"></div>

</body>
