<!DOCTYPE html>
<html xml:lang="fr" lang="fr">
<head>
    <meta charset="utf8mb4"/>

    {#<meta http-equiv="X-UA-Compatible" content="IE=edge">#}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {# Bootstrap v4.0.0 #}
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    {# Pdf Style #}
    <link rel="stylesheet" type="text/css"
          href="{{ asset('css/pdf-style.css') }}">

    <title>Staging</title>

</head>
<body>
    <h2> Fiche de préparation de staging </h2>
    <legend class="mb-4"></legend>
    <div class="container">
        <div class="row">
            <div class="col-6"> 
                <p><strong>Nom</strong></p>
                <p>{{staging.name}}</p>
            </div>
            <div class="col-3"> 
                <p><strong>NASID</strong></p>
                <p>{{staging.nasId}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3"> 
                <p><strong>Date de livraison</strong></p>
                <p>{{staging.deliveryDate ? staging.deliveryDate|date("d/m/Y") : "non renseigné"}}</p>
            </div>
            <div class="col-3"> 
                <p><strong>Type de Staging</strong></p>
                <p>{% for type in staging.stagingType %}
                {{type == 1 ? "TV" : type == 2 ? "Wifi" : type == 3 ? "Chromecast" : type == 4 ? "Lan" : type == 5 ? "Switch" :type == 6 ? "Radio" : ""}}{{loop.last ? "" : ","}}{% endfor %}</p>
            </div>
            <div class="col-3"> 
                <p><strong>Standards Hoist</strong></p>
                <p>{{staging.hoistStandard ? "Respectés" : "Non respectés"}}</p>
            </div>
            <div class="col-3">
                {% if staging.standardFilePath %}
                    <div id="standard_file_path">
                        <i class="fas fa-file-alt fa-2x"></i>
                        <span>{{ staging.standardFilePath }}</span>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="divider"></div>
        <h2>Contact</h2>
        <div class="row">
            <div class="col-3"> 
                <p><strong>Nom</strong></p>
                <p>{{staging.contactName ?? "non renseigné"}}</p>
            </div>
            <div class="col-3"> 
                <p><strong>N° de tél</strong></p>
                <p>{{staging.contactPhone ?? "non renseigné"}}</p>
            </div>
            <div class="col-3"> 
                <p><strong>Code postal</strong></p>
                <p>{{staging.contactZipcode ?? "non renseigné"}}</p>
            </div>
            <div class="col-3"> 
                <p><strong>Ville</strong></p>
                <p>{{staging.contactCity ?? "non renseigné"}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6"> 
                <p><strong>Adresse</strong></p>
                <p>{{staging.contactAddress ?? "non renseigné"}}</p>
            </div>
        </div>
        {# "TV" required #}
        {% if 1 in staging.stagingType %}
            <div class="divider"></div>
            <h2>TV</h2>
            <div class="row">
                <div class="col-3">
                    <p><strong>Streamer ?</strong></p>
                    <p>{{ staging.streamer ? 'Oui' : 'Non' }}</p>
                </div>
                <div class="col-3">
                    <p><strong>VOD ?</strong></p>
                    <p>{{ staging.vod ? 'Oui' : 'Non' }}</p>
                </div>
                <div class="col-3">
                    <p><strong>Marque(s) TV</strong></p>
                    <p>{% for brand in staging.tvBrand %}{{ brand }}{{loop.last ? "" : ","}}{% endfor %}</p>
                </div>
                <div class="col-12">
                    <p><strong>Plan chaines TV</strong></p>
                    <p>{{ staging.tvChannelPlan }}</p>
                </div>
                <div class="col-12">
                    <p><strong>Liste des chambres</strong></p>
                    <p>{{ staging.roomList }}</p>
                </div>
                <div class="col-3">
                    <p><strong>Type de Gui</strong></p>
                    <p>{{ staging.guiType }}</p>
                </div>
                <div class="col-3">
                    <p><strong>Type de borne</strong></p>
                    <p>{{ staging.headBrand }}</p>
                </div>
                <div class="col-3">
                    <p><strong>Contrôleur de zone</strong></p>
                    <p>{{ staging.controllerBrand }}</p>
                </div>
            </div>
        {% endif %}
        {# "Radio" required #}
        {% if 6 in staging.stagingType %}
            <div class="divider"></div>
            <h2>Radio</h2>
            <div class="row">
                <div class="col-12">
                    <p><strong>Plan chaines Radio</strong></p>
                    <p>{{ staging.radioChannelPlan }}</p>
                </div>
            </div>
        {% endif %}
        {# "Wifi" required #}
        {% if 2 in staging.stagingType %}
            <div class="divider"></div>
            <h2>Wifi</h2>
            <p>N'oubliez pas de créer la rate card !</p>
        {% endif %}
        {# "Wifi" and "TV" required #}
        {% if 1 in staging.stagingType and 2 in staging.stagingType %}
            <div class="divider"></div>
            <h2>Wifi & TV</h2>
            <div class="row">
                <div class="col-3">
                    <p><strong>TV sur le Wifi ?</strong></p>
                    <p>{{ staging.tvOnWifi ? 'Oui' : 'Non' }}</p>
                </div>
            </div>
        {% endif %}
        {# "Wifi" and not "Chromecast" required #}
        {% if 2 in staging.stagingType and 3 not in staging.stagingType %}
            <div class="divider"></div>
            <h2>Wifi (& pas Chromecast)</h2>
            <div class="row">
                <div class="col-3"> 
                    <p><strong>Vlan Wifi</strong></p>
                    <p>{{ staging.vlanWifi }}</p>
                </div>
                <div class="col-3">
                    <p><strong>Guest IP</strong></p>
                    <p>{{ staging.guestIp }}</p>
                </div>
                <div class="col-3">
                    <p><strong>SSID VLAN</strong></p>
                    <p>{{ staging.ssidVlan }}</p>
                </div>
                <div class="col-3">
                    <p><strong>SSID Wifi</strong></p>
                    <p>{{ staging.ssidWifi }}</p>
                </div>
            </div>
        {% endif %}
        {# "Lan" required #}
        {% if 4 in staging.stagingType %}
            <div class="divider"></div>
            <h2>Lan</h2>
            <p>Informations des services, plan d\'adressage, VLAN, DHCP dans la pièce jointe ci dessous :</p>
            <div class="row">
                <div class="col-3">
                    {% if staging.lanFilePath %}
                        <div id="lan_file_path">
                            <i class="fas fa-file-alt fa-2x"></i>
                            <span>{{ staging.lanFilePath }}</span>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        {# "Switch" required #}
        {% if 1 in staging.stagingType %}
            <div class="divider"></div>
            <h2>Switch</h2>
            <div class="row">
                <div class="col-3">
                    <p><strong>Quantité de switch</strong></p>
                    <p>{{ staging.switchQuantity }}</p>
                </div>
                <div class="col-3">
                    <p><strong>Type de switch</strong></p>
                    <p>{{ staging.trader }}</p>
                </div>
            </div>
        {% endif %}
        <div class="divider"></div>
        <h2>Description</h2>
        <p>{{staging.description}}</p>
        <div class="divider"></div>
    </div>
</body>
