<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {# Bootstrap v4.0.0 #}
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

        {# Pdf Style #}
        <link rel="stylesheet" type="text/css"
              href="{{ asset('css/pdf-style.css') }}">

    <title>Devis</title>

</head>
<body>

    <div class="container">
        <div>
            <div>
                <img src="{{ nncLogoUrl }}" style="width: 100px">
                <img src="{{ comLogoUrl }}" style="width: 100px">
            </div>
            <div style="width: 50%; margin-left: 50%;">
                {% include 'pdf/address.html.twig' with {'date': datas.date} %}
            </div>
        </div>
        <div>
            <p><strong>{{ datas.title }}</strong></p>
            <p>(Ce document est édité à titre provisoire)</p>
        </div>
    </div>

    <legend class="mb-4"></legend>

    {% for service in datas.services %}
        <table  class="table table-bordered table-striped">
            <tr>
                <th colspan="4">
                    {{ service.name }}
                </th>
            </tr>
            {% for item in service.datas %}
                <tr>
                    <th>
                        <label>{{ item.name }}</label>
                    </th>
                    <th class="text-center">{{ item.quantity }}</th>
                    <th class="text-center">x {{ item.price }} €</th>
                    <th class="text-center">{{ item.total > 0 ? '= ' ~ item.total ~ ' €' : 'gratuit' }}</th>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}

    {% if datas.description != '' %}
        <h3>Commentaire(s)</h3>
        <p>{{ datas.description }}</p>
    {% endif %}

    <table class="table table-bordered table-striped">
        <tr>
            <th class="text-center">
                <label for="bill_total">Total</label>
            </th>
            <th class="text-center">{{ datas.price }} €</th>
        </tr>
    </table>

</body>
